@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import "tailwindcss";

@theme {
  --font-tech: "Share Tech", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  
  --animate-spin-slow: spin 8s linear infinite;
  --animate-pulse-fast: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-marquee: marquee 120s linear infinite;
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
}
